<link href="/css/3dslider.css" rel="stylesheet" />


<div class="three_slider">

    <div class="three_slider_content">
        <span style="--i:1;"><img src='https://tbcdn.talentbrew.com/company/375/v4_0/img/logos/dell-share-logo.jpg'/></span>
        <span style="--i:2;"><img src='https://tbcdn.talentbrew.com/company/375/v4_0/img/logos/dell-share-logo.jpg'/></span>
        <span><img src='https://tbcdn.talentbrew.com/company/375/v4_0/img/logos/dell-share-logo.jpg'/></span>
        <span><img src='https://tbcdn.talentbrew.com/company/375/v4_0/img/logos/dell-share-logo.jpg'/></span>
        <span><img src='https://tbcdn.talentbrew.com/company/375/v4_0/img/logos/dell-share-logo.jpg'/></span>
        <span><img src='https://tbcdn.talentbrew.com/company/375/v4_0/img/logos/dell-share-logo.jpg'/></span>
        
    </div>

</div>