<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>MasInfosys</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <!-- <link href="assets/img/favicon.png" rel="icon"> -->
  <link href="./img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,700,700i&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" 
    integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" />
  <!-- Vendor CSS Files -->
  <link href="assets/vendor/animate.css/animate.min.css" rel="stylesheet">
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
  crossorigin="anonymous">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
  crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.css" integrity="sha512-YTuMx+CIxXa1l+j5aDPm98KFbVcYFNhlr2Auha3pwjHCF1lLbY9/ITQQlsUzdM1scW45kHC5KNib4mNa1IFvJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Moderna - v4.10.0
  * Template URL: https://bootstrapmade.com/free-bootstrap-template-corporate-moderna/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- <ul style="display: flex; list-style:none; flex: 1;justify-content: center;font-weight: bold;color: white;" >
    <p>NEED HELP ? TALK TO AN EXPERT   </p>
    <li style="color: white;"></li>
    <a href="" style="color: white;"><li style="margin-left: 5PX;"> SAUDI ARABIA : +961 38748374</li></a>
    <a href="" style="color: white;"><li>UAE : +971 054 793 5905</li></a> 
 </ul> -->

  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #283886;">
    <div class="container-fluid" style="padding:5px;margin:0;">
      
        <div style="margin: 0 auto;padding:0;display: flex;align-items: center;flex-direction: row;">
            <p style="font-weight: bold;font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; color:white;margin-top: 20px;">NEED HELP ? TALK TO AN EXPERT : </p>
            <p style="font-weight: bold;font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; color:white;margin-top: 20px; margin-left: 20px;">Saudi Arabia : +961 38748374</p>
            <p style="font-weight: bold;font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; color:white;margin-top: 20px; margin-left: 20px;">Uae : +971 054 793 5905</p>
        </div>

        <div class="d-flex">
          <ul>
          <li><span class="social-icon social-facebook"><i class="fa fa-facebook-square" aria-hidden="true"></i>
          </span></li>
          <li><span class="social-icon social-google"><i class="fa fa-google"></i></span></li>
          <li><span class="social-icon social-linkedin"><i class="fa fa-linkedin"></i></span></li>
          <li><span class="social-icon social-instagram"><i class="fa fa-instagram"></i></span></li>
          <li><span class="social-icon social-twitter"><i class="fa fa-twitter"></i></span></li>
         </ul>  
        </div>
      </div>
    </div>
  </nav>

  <!-- Nav -->
  

  <!-- ======= Header ======= -->
  <header id="header" class="d-flex align-items-center header-transparent">
    
    <div class="container d-flex justify-content-between align-items-center">

      <div class="logo">
        <!-- <h1 class="text-light"><a href="index.html"><span>Moderna</span></a></h1> -->
        <a href="index.html"><img src="./assets/img/mass_logo.png" class="img-fluid"/>  </a>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a> -->
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="active " href="/">HOME</a></li>
          <li class="dropdown"><a href="#"><span>ABOUT US</span> <i class="bi bi-chevron-down"></i></a>
            <ul class="internal_links">
              <li><a href="/about">ABOUT OUR COMPANY</a></li>
              <li><a href="/company-overview">COMPANY</a></li>
            </ul>
          </li>
          <li class="dropdown"><a href="#"><span>PRODUCTS & SOLUTIONS</span> <i class="bi bi-chevron-down"></i></a>
            <ul class="internal_links">
              <li><a href="/server-client">SERVER AND CLIENT SOLUTION</a></li>
              <li><a href="/storage-backup">STORAGE & BACKUP SOLUTION</a></li>
              <li><a href="/network-security">NETWORK & SECURITY SOLUTION</a></li>
              <li><a href="/data-center">DATA CENTER SOLUTION</a></li>
              <li><a href="/server-virtualization">SERVER & CLIENT VIRTUALIZATION SOLUTION</a></li>
            </ul>
          </li>
          <li><a href="">PARTNERS</a></li>
          <li class="dropdown"><a href="#"><span>SERVICES & SUPPORT</span> <i class="bi bi-chevron-down"></i></a>
            <ul class="internal_links">
              <li><a href="/professional-installation">PROFESSIONAL INSTALLATION</a></li>
              <li><a href="/professional-support">PROFESSIONAL SUPPORT</a></li>
              <li><a href="/professional-consulting">PROFESSIONAL CONSULTING</a></li>
            </ul>
          </li>
          <li><a href="/contact-us">CONTACT</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->