<link href="/css/productSlider.css" rel="stylesheet" />


<main>
    <!-- <div class="text">
        <h1>Simple Single carousel</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam non atque adipisci est, recusandae aperiam, ullam minima quos nostrum animi voluptas sequi. At repellendus fuga reiciendis accusantium, dolor suscipit repellat?
        </p>
    </div> -->
    <header>
        <h1 style="text-align: right;">Servers</h1>
        <p>
            <span id="arrows">&#139;</span>
            <span id="arrows">&#155;</span>
        </p>
    </header>
    <section class="slider_section">
        <div class="product">
            <picture>
                <img src="/img/tower-server-add/lenovo1.png" alt="">
            </picture>
            <div class="detail">
                <p>
                    <b>Dell Power Vault Storage</b><br>
                    <small>New arrival</small>
                </p>
                <samp>$45.00</samp>
            </div>
            <div class="button">
                <p class="star">
                    <strong>&star;</strong>
                    <strong>&star;</strong>
                    <strong>&star;</strong>
                    <strong>&star;</strong>
                    <strong>&star;</strong>
                </p>
                <a href="/contact-us" class="btn_shop_now">MORE </a>
            </div>
        </div>
        <div class="product">
            <picture>
                <img src="/img/ad-storage-image/dellemc.png" alt="">
            </picture>
            <div class="detail">
                <p>
                    <b>Dell Power Vault Storage</b><br>
                    <small>New arrival</small>
                </p>
                <samp>$45.00</samp>
            </div>
            <div class="button">
                <p class="star">
                    <strong>&star;</strong>
                    <strong>&star;</strong>
                    <strong>&star;</strong>
                    <strong>&star;</strong>
                    <strong>&star;</strong>
                </p>
                <a href="/contact-us" class="btn_shop_now">MORE </a>
            </div>
        </div>
        <div class="product">
            <picture>
                <img src="/img/ad-storage-image/lenovo.png" alt="">
            </picture>
            <div class="detail">
                <p>
                    <b>Dell Power Vault Storage</b><br>
                    <small>New arrival</small>
                </p>
                <samp>$45.00</samp>
            </div>
            <div class="button">
                <p class="star">
                    <strong>&star;</strong>
                    <strong>&star;</strong>
                    <strong>&star;</strong>
                    <strong>&star;</strong>
                    <strong>&star;</strong>
                </p>
                <a href="/contact-us" class="btn_shop_now">MORE </a>
            </div>
        </div>
        <div class="product">
            <picture>
                <img src="/img/ad-storage-image/nimble.png" alt="">
            </picture>
            <div class="detail">
                <p>
                    <b>Dell Power Vault Storage</b><br>
                    <small>New arrival</small>
                </p>
                <samp>$45.00</samp>
            </div>
            <div class="button">
                <p class="star">
                    <strong>&star;</strong>
                    <strong>&star;</strong>
                    <strong>&star;</strong>
                    <strong>&star;</strong>
                    <strong>&star;</strong>
                </p>
                <a href="/contact-us" class="btn_shop_now">MORE </a>
            </div>
        </div>
        <div class="product">
            <picture>
                <img src="/img/tower-server-add/lenovo1.png" alt="">
            </picture>
            <div class="detail">
                <p>
                    <b>Dell Power Vault Storage</b><br>
                    <small>New arrival</small>
                </p>
                <samp>$45.00</samp>
            </div>
            <div class="button">
                <p class="star">
                    <strong>&star;</strong>
                    <strong>&star;</strong>
                    <strong>&star;</strong>
                    <strong>&star;</strong>
                    <strong>&star;</strong>
                </p>
                <a href="/contact-us" class="btn_shop_now">MORE </a>
            </div>
        </div>
        <div class="product">
            <picture>
                <img src="/img/tower-server-add/lenovo1.png" alt="">
            </picture>
            <div class="detail">
                <p>
                    <b>Dell Power Vault Storage</b><br>
                    <small>New arrival</small>
                </p>
                <samp>$45.00</samp>
            </div>
            <div class="button">
                <p class="star">
                    <strong>&star;</strong>
                    <strong>&star;</strong>
                    <strong>&star;</strong>
                    <strong>&star;</strong>
                    <strong>&star;</strong>
                </p>
                <a href="/contact-us" class="btn_shop_now">MORE </a>
            </div>
        </div>
        <div class="product">
            <picture>
                <img src="/img/tower-server-add/lenovo1.png" alt="">
            </picture>
            <div class="detail">
                <p>
                    <b>Product Seven</b><br>
                    <small>New arrival</small>
                </p>
                <samp>$45.00</samp>
            </div>
            <div class="button">
                <p class="star">
                    <strong>&star;</strong>
                    <strong>&star;</strong>
                    <strong>&star;</strong>
                    <strong>&star;</strong>
                    <strong>&star;</strong>
                </p>
                <a href="/contact-us" class="btn_shop_now">MORE </a>
            </div>
        </div>
        <div class="product">
            <picture>
                <img src="/img/tower-server-add/lenovo1.png" alt="">
            </picture>
            <div class="detail">
                <p>
                    <b>Product Eight</b><br>
                    <small>New arrival</small>
                </p>
                <samp>$45.00</samp>
            </div>
            <div class="button">
                <p class="star">
                    <strong>&star;</strong>
                    <strong>&star;</strong>
                    <strong>&star;</strong>
                    <strong>&star;</strong>
                    <strong>&star;</strong>
                </p>
                <a href="/contact-us" class="btn_shop_now">MORE </a>
            </div>
        </div>
        <div class="product">
            <picture>
                <img src="/img/tower-server-add/lenovo1.png" alt="">
            </picture>
            <div class="detail">
                <p>
                    <b>Product Nine</b><br>
                    <small>New arrival</small>
                </p>
                <samp>$45.00</samp>
            </div>
            <div class="button">
                <p class="star">
                    <strong>&star;</strong>
                    <strong>&star;</strong>
                    <strong>&star;</strong>
                    <strong>&star;</strong>
                    <strong>&star;</strong>
                </p>
                <a href="/contact-us" class="btn_shop_now">MORE </a>
            </div>
        </div>
        <div class="product">
            <picture>
                <img src="/img/tower-server-add/lenovo1.png" alt="">
            </picture>
            <div class="detail">
                <p>
                    <b>Product Ten</b><br>
                    <small>New arrival</small>
                </p>
                <samp>$45.00</samp>
            </div>
            <div class="button">
                <p class="star">
                    <strong>&star;</strong>
                    <strong>&star;</strong>
                    <strong>&star;</strong>
                    <strong>&star;</strong>
                    <strong>&star;</strong>
                </p>
                <a href="/contact-us" class="btn_shop_now">MORE </a>
            </div>
        </div>
        <div class="product">
            <picture>
                <img src="/img/tower-server-add/lenovo1.png" alt="">
            </picture>
            <div class="detail">
                <p>
                    <b>Product Eleven</b><br>
                    <small>New arrival</small>
                </p>
                <samp>$45.00</samp>
            </div>
            <div class="button">
                <p class="star">
                    <strong>&star;</strong>
                    <strong>&star;</strong>
                    <strong>&star;</strong>
                    <strong>&star;</strong>
                    <strong>&star;</strong>
                </p>
                <a href="/contact-us" class="btn_shop_now">MORE </a>
            </div>
        </div>
        <div class="product">
            <picture>
                <img src="/img/tower-server-add/lenovo1.png" alt="">
            </picture>
            <div class="detail">
                <p>
                    <b>Product Twelve</b><br>
                    <small>New arrival</small>
                </p>
                <samp>$45.00</samp>
            </div>
            <div class="button">
                <p class="star">
                    <strong>&star;</strong>
                    <strong>&star;</strong>
                    <strong>&star;</strong>
                    <strong>&star;</strong>
                    <strong>&star;</strong>
                </p>
                <a href="/contact-us" class="btn_shop_now">MORE </a>
            </div>
        </div>
    </section>
</main>



