<link href="./css/whatsup.css" rel="stylesheet"/>

<div class="whatsup">
    <a href="https://web.whatsapp.com/send?phone=+971569987270" target="_blank">
      <i class="fab fa-whatsapp fa-4x fa-spin" area-hidden="true" style="color:green"></i>
    </a>  
  </div>