<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/contact.css" rel="stylesheet"/>
	<title>MasInfosys</title>
</head>
<body>
	<div class="back_div"></div>
	<div class="background">
		<div class="container">
		  <div class="screen">
			<div class="screen-header">
			  <div class="screen-header-left">
				<div class="screen-header-button close"></div>
				<div class="screen-header-button maximize"></div>
				<div class="screen-header-button minimize"></div>
			  </div>
			  <div class="screen-header-right">
				<div class="screen-header-ellipsis"></div>
				<div class="screen-header-ellipsis"></div>
				<div class="screen-header-ellipsis"></div>
			  </div>
			</div>
			<div class="screen-body">
			  <div class="screen-body-item left">
				<div class="app-title">
				  <span class="general_paragraph">CONTACT US</span>
				  <span style="visibility: hidden;">US</span>
				</div>

				<a href="/" class="go_back_button general_paragraph">GO BACK</a>
				<div class="app-contact general_paragraph">CONTACT INFO : +971 52 170 9987</div>
				
			  </div>
			  <div class="screen-body-item">
				<form id="form">
					<div class="app-form" id="form">
						<div class="app-form-group">
						  <input class="app-form-control" placeholder="name" type="text" name="name">
						</div>
						<div class="app-form-group">
						  <input class="app-form-control"  placeholder="email" type="email" name="email">
						</div>
						<div class="app-form-group">
						  <input class="app-form-control"  placeholder="phone" type="text" name="phone">
						</div>
						<div class="app-form-group message">
						  <input class="app-form-control"   placeholder="contact" type="text" name="message">
						</div>
						<div class="app-form-group buttons">
						  <button class="app-form-button general_paragraph" >CANCEL</button>
						  <button class="app-form-button general_paragraph">SEND</button>
						</div>
					  </div>
				</form>
			  </div>
			</div>
		  </div>
		  <div class="credits">
			<p class="general_paragraph">MAS Infosys ® All Right Reserved</p>
			<a class="credits-link" href="https://dribbble.com/shots/2666271-Contact" target="_blank">
			  <svg class="dribbble" viewBox="0 0 200 200">
				<g stroke="#ffffff" fill="none">
				  <circle cx="100" cy="100" r="90" stroke-width="20"></circle>
				  <path d="M62.737004,13.7923523 C105.08055,51.0454853 135.018754,126.906957 141.768278,182.963345" stroke-width="20"></path>
				  <path d="M10.3787186,87.7261455 C41.7092324,90.9577894 125.850356,86.5317271 163.474536,38.7920951" stroke-width="20"></path>
				  <path d="M41.3611549,163.928627 C62.9207607,117.659048 137.020642,86.7137169 189.041451,107.858103" stroke-width="20"></path>
				</g>
			  </svg>
			  <p class="general_paragraph">2022</p>
			</a>
		  </div>
		</div>
	  </div>

	  <script>
		const c_form = document.getElementById('form');
		
		c_form.addEventListener('submit', async (e) => {
		  e.preventDefault();
			console.log('working')
		  const name = c_form.name.value;
		  const email = c_form.email.value;
		  const phone = c_form.phone.value
		  const message = c_form.message.value;
	  
		  try {
			const res = await fetch('/professional-contacts', { 
			  method: 'POST', 
			  body: JSON.stringify({ name, email,phone,message }),
			  headers: {'Content-Type': 'application/json'}
			});
			const data = await res.json();
			console.log(data);
			if (data.errors) {
			  emailError.textContent = data.errors.email;
			  passwordError.textContent = data.errors.password;
			}
			if (data.user) {
			  location.assign('/admin-dashboard');
			}
	  
		  }
		  catch (err) {
			console.log(err);
		  }

			console.log(name, email, phone, message)

		});
	  </script>
	  
</body>
</html>