<%- include('partials/masinfosysheader'); -%>


<div class="container-fluid" style="margin-top: 30px;">
    <h3 class="heading_style">Professional Installation Service</h3>
</div>

<div class="container-fluid" style="margin-bottom:30px">
    <hr class="span_seperator"></hr>
</div>


<div class="container-fluid" style="margin-top: 30px;padding: 0;">
    <ul style="list-style: none;">
        <li style="font-weight:600" class="general_paragraph">Server, Storage &amp; Network Hardware Installation (Rack &amp; Stack) Configuration, Testing &amp; Labeling.</li>
        <li style="font-weight:600" class="general_paragraph">Network Passive Components Installation &amp; Structure Network Cabling (Copper &amp; Fiber) Planning, Designing, Implementation, Testing, Labeling&amp; Documentation.</li>
        <li style="font-weight:600" class="general_paragraph">UPS &amp; High Current Equipment Installation &amp; Startup Service.</li>
        <li style="font-weight:600" class="general_paragraph">Microsoft Infrastructure Service like Active Directory, File &amp; Print Services Design &amp; Implementation, Microsoft Exchange Email System Plan, Design, Implementation, Test &amp; Documentation Service.</li>
        <li style="font-weight:600" class="general_paragraph">Microsoft SQL Database Server, Share Point Application Design, Implementation, Test &amp; Documentation based on Customer requirement.</li>
        <li style="font-weight:600" class="general_paragraph">Microsoft office 365 Implementation,</li>
        <li style="font-weight:600" class="general_paragraph">Microsoft Hyper-V Virtualization Capacity Plan, Design, Implementation, Test &amp; Documentation.</li>
        <li style="font-weight:600" class="general_paragraph">Microsoft SCCM plan, design, implementation, Testing &amp; Documentation.</li>
        <li style="font-weight:600" class="general_paragraph">VMware ESX VSphere Server Virtualization design, implementation, Testing &amp; Documentation</li>
        <li style="font-weight:600" class="general_paragraph">HPE &amp; DELL EMC HCI Appliance Hardware Installation &amp; Configuration Services</li>
        <li style="font-weight:600" class="general_paragraph">Switch &amp; Router Startup Installation &amp; Configuration Services.</li>
        <li style="font-weight:600" class="general_paragraph">IP Telephone Call Manager System Installation &amp; Configuration Services.</li>
        <li style="font-weight:600" class="general_paragraph">CCTV (Analog &amp; IP Based Camera), Fire Alarm System, Time Attendance System, Door Access Installation &amp; Configuration Service.</li>
        <li style="font-weight:600" class="general_paragraph">Server Backup Solution by Veeam, Micro focus Data Protector, Networker &amp; Vertias Implementation &amp; Testing.</li>
        <li style="font-weight:600" class="general_paragraph">Server &amp; Network Monitoring ( Capacity &amp; Performance ) Service</li>
        <li style="font-weight:600" class="general_paragraph">Wireless Solution Design, Implementation &amp; Manage.</li>
        </ul>
</div>







<%- include('partials/masinfosysfooter'); -%>