<%- include('partials/masinfosysheader'); -%>


<div class="container-fluid" style="margin-top: 30px;">
    <h3 class="display-6">Professional Installation Service</h3>
</div>

<div class="container-fluid" style="margin-top:30px; margin-bottom:30px">
    <div class="divider bg-dark" style="height: 2px;"></div>
</div>

<div class="container-fluid" style="margin-top: 30px;padding: 0;">
    <ul style="list-style: none;">
        <li style="color: #5f6162; font-weight:600" class="lead">Server, Storage &amp; Network Hardware Installation (Rack &amp; Stack) Configuration, Testing &amp; Labeling.</li>
        <li style="color: #5f6162; font-weight:600" class="lead">Network Passive Components Installation &amp; Structure Network Cabling (Copper &amp; Fiber) Planning, Designing, Implementation, Testing, Labeling&amp; Documentation.</li>
        <li style="color: #5f6162; font-weight:600" class="lead">UPS &amp; High Current Equipment Installation &amp; Startup Service.</li>
        <li style="color: #5f6162; font-weight:600" class="lead">Microsoft Infrastructure Service like Active Directory, File &amp; Print Services Design &amp; Implementation, Microsoft Exchange Email System Plan, Design, Implementation, Test &amp; Documentation Service.</li>
        <li style="color: #5f6162; font-weight:600" class="lead">Microsoft SQL Database Server, Share Point Application Design, Implementation, Test &amp; Documentation based on Customer requirement.</li>
        <li style="color: #5f6162; font-weight:600" class="lead">Microsoft office 365 Implementation,</li>
        <li style="color: #5f6162; font-weight:600" class="lead">Microsoft Hyper-V Virtualization Capacity Plan, Design, Implementation, Test &amp; Documentation.</li>
        <li style="color: #5f6162; font-weight:600" class="lead">Microsoft SCCM plan, design, implementation, Testing &amp; Documentation.</li>
        <li style="color: #5f6162; font-weight:600" class="lead">VMware ESX VSphere Server Virtualization design, implementation, Testing &amp; Documentation</li>
        <li style="color: #5f6162; font-weight:600" class="lead">HPE &amp; DELL EMC HCI Appliance Hardware Installation &amp; Configuration Services</li>
        <li style="color: #5f6162; font-weight:600" class="lead">Switch &amp; Router Startup Installation &amp; Configuration Services.</li>
        <li style="color: #5f6162; font-weight:600" class="lead">IP Telephone Call Manager System Installation &amp; Configuration Services.</li>
        <li style="color: #5f6162; font-weight:600" class="lead">CCTV (Analog &amp; IP Based Camera), Fire Alarm System, Time Attendance System, Door Access Installation &amp; Configuration Service.</li>
        <li style="color: #5f6162; font-weight:600" class="lead">Server Backup Solution by Veeam, Micro focus Data Protector, Networker &amp; Vertias Implementation &amp; Testing.</li>
        <li style="color: #5f6162; font-weight:600" class="lead">Server &amp; Network Monitoring ( Capacity &amp; Performance ) Service</li>
        <li style="color: #5f6162; font-weight:600" class="lead">Wireless Solution Design, Implementation &amp; Manage.</li>
        </ul>
</div>







<%- include('partials/masinfosysfooter'); -%>