<%- include('partials/masinfosysheader'); -%>

<link href="/css/breadcrumbs.css" rel="stylesheet"/>

 <!-- ======= About Us Section ======= -->
 <section class="breadcrumbs breadcrumbs_seven bg-transparent" style="margin-top: 5px;margin-bottom:30px;" >
  <div class="container">

    <div class="d-flex justify-content-between align-items-center">
      <div style="display: flex;flex-direction: column;align-items: flex-start;justify-content: flex-start;">
      <h4 class="heading_style">: : MAS Infosys : :</h4> <br>
      <h6 class="general_heading">The IT System integrator Group Company</h6>
      </div>
      <ol>
        <li><a href="index.html">Home</a></li>
        <li>Professional Installation Service</li>
      </ol>
    </div>

  </div>
</section><!-- End About Us Section -->

<div class="container-fluid" style="margin-top: 30px;">
    <h3 class="heading_style">Professional Installation Service</h3>
</div>

<div class="container-fluid" style="margin-bottom:30px">
    <hr class="span_seperator"></hr>
</div>


<div class="container-fluid" style="margin-top: 30px;padding: 0;">

        <p class="general_paragraph">
            1- Server, Storage &amp; Network Hardware Installation (Rack &amp; Stack) Configuration, Testing &amp; Labeling. <br>
            2- Network Passive Components Installation &amp; Structure Network Cabling (Copper &amp; Fiber) Planning, Designing, Implementation, Testing, Labeling&amp; Documentation. <br>
            3- UPS &amp; High Current Equipment Installation &amp; Startup Service. <br>
            4- Microsoft Infrastructure Service like Active Directory, File &amp; Print Services Design &amp; and Implementation
            5- VMware ESX VSphere Server Virtualization design, implementation, Testing &amp; Documentation . <br>
            6- HPE &amp; DELL EMC HCI Appliance Hardware Installation &amp; Configuration Services <br>
            7- Switch &amp; Router Startup Installation &amp; Configuration Services. <br>
            8- IP Telephone Call Manager System Installation &amp; Configuration Services. <br>
            9- CCTV (Analog &amp; IP Based Camera), Fire Alarm System, Time Attendance System, Door Access Installation &amp; Configuration Service. <br>
            10- Server Backup Solution by Veeam, Micro focus Data Protector, Networker &amp; Vertias Implementation &amp; Testing. <br>
            11- Server &amp; Network Monitoring ( Capacity &amp; Performance ) Service <br> 
            12- Wireless Solution Design, Implementation &amp; Manage.
        </p>
</div>







<%- include('partials/masinfosysfooter'); -%>