<%- include('partials/masinfosysheader'); -%>

<link href="/css/breadcrumbs.css" rel="stylesheet"/>

 <!-- ======= About Us Section ======= -->
 <section class="breadcrumbs breadcrumbs_eight bg-transparent" style="margin-top: 5px;margin-bottom:30px;" >
  <div class="container">

    <div class="d-flex justify-content-between align-items-center">
      <div style="display: flex;flex-direction: column;align-items: flex-start;justify-content: flex-start;">
      <h4 class="heading_style">: : MAS Infosys : :</h4> <br>
      <h6 class="general_heading">The IT System integrator Group Company</h6>
      </div>
      <ol>
        <li><a href="index.html">Home</a></li>
        <li>Professional Support Services</li>
      </ol>
    </div>

  </div>
</section><!-- End About Us Section -->


<div class="container-fluid" style="margin-top: 30px;">
    <h4 class="heading_style">Professional Installation Service</h4>
</div>

<div class="container-fluid" style="margin-bottom:30px">
    <hr class="span_seperator"></hr>
</div>


<div class="container-fluid"  style="margin-top: 30px;">
    <p class="general_paragraph">
        1-Server, Storage &amp; Client Device Hardware Support Service like Trouble shoot &amp; Maintenance Support <br>
        2-Local &amp; WAN Network Devices hardware and configuration trouble shoot Support Service <br>
        3-Microsoft Product Configuration Maintenance &amp; trouble Shoot Support Services <br>
        4-VMware &amp; Hyper-V Configuration Maintenance &amp; trouble shoot Support Service <br>
        5-Server Backup &amp; Restore Remote &amp; Onsite Support <br>
        6-Data Loss Prevention( DLP) Support
        7-Server Security &amp; Health Checkup Support.
    </p>

</div>

<div class="container-fluid" style="margin-top: 30px;">
    <h4 class="heading_style">Annual Maintenance Contract</h4>
    

    <p class="general_paragraph">
        IT AMC Contract has always been the most conspicuous component of any enterprise therefore, it always ensures the endurance of the Server, Storage, Client systems, peripherals & networks. However MAS Infosys have always delivered first-class services as a part of the Annual Maintenance Contract (AMC)
        We have efficient technical experts Consultant and Engineer who can provide 24/7 Support to our Valuable Clients.
    </p>
</div>









<%- include('partials/masinfosysfooter'); -%>