<%- include('partials/masinfosysheader'); -%>


<div class="container-fluid" style="margin-top: 30px;">
    <h3 class="display-6">Professional Installation Service</h3>
</div>

<div class="container-fluid" style="margin-top:30px; margin-bottom:30px">
    <div class="divider bg-dark" style="height: 2px;"></div>
</div>

<div class="container-fluid" style="margin-top: 30px;padding: 0;">
    <ul style="list-style: none;">
        <li style="color: #5f6162; font-weight:600" class="lead">Server, Storage &amp; Client Device Hardware Support Service like Trouble shoot &amp; Maintenance Support</li>
        <li style="color: #5f6162; font-weight:600" class="lead">Local &amp; WAN Network Devices hardware and configuration trouble shoot Support Service</li>
        <li style="color: #5f6162; font-weight:600" class="lead">Microsoft Product Configuration Maintenance &amp; trouble Shoot Support Services</li>
        <li style="color: #5f6162; font-weight:600" class="lead">VMware &amp; Hyper-V Configuration Maintenance &amp; trouble shoot Support Service</li>
        <li style="color: #5f6162; font-weight:600" class="lead">Server Backup &amp; Restore Remote &amp; Onsite Support</li>
        <li style="color: #5f6162; font-weight:600" class="lead">Data Loss Prevention( DLP) Support</li>
        <li style="color: #5f6162; font-weight:600" class="lead">Server Security &amp; Health Checkup Support.</li>    
    </ul>
</div>

<div class="container-fluid" style="margin-top: 30px;">
    <h3 class="display-6">Annual Maintenance Contract</h3>

    <p class="lead">
        IT AMC Contract has always been the most conspicuous component of any enterprise therefore, it always ensures the endurance of the Server, Storage, Client systems, peripherals & networks. However, MAS Infosys have always delivered first-class services as a part of the Annual Maintenance Contract (AMC). <br><br>
        We have efficient technical experts Consultant and Engineer who can provide 24/7 Support to our Valuable Clients.
    </p>
</div>









<%- include('partials/masinfosysfooter'); -%>