<%- include('partials/masinfosysheader'); -%>


<div class="container-fluid" style="margin-top: 30px;">
    <h4 class="heading_style">Professional Installation Service</h4>
</div>

<div class="container-fluid" style="margin-bottom:30px">
    <hr class="span_seperator"></hr>
</div>


<div class="container-fluid" style="margin-top: 30px;padding: 0;">
    <ul style="list-style: none;">
        <li style="font-weight:600" class="general_paragraph">Server, Storage &amp; Client Device Hardware Support Service like Trouble shoot &amp; Maintenance Support</li>
        <li style="font-weight:600" class="general_paragraph">Local &amp; WAN Network Devices hardware and configuration trouble shoot Support Service</li>
        <li style="font-weight:600" class="general_paragraph">Microsoft Product Configuration Maintenance &amp; trouble Shoot Support Services</li>
        <li style="font-weight:600" class="general_paragraph">VMware &amp; Hyper-V Configuration Maintenance &amp; trouble shoot Support Service</li>
        <li style="font-weight:600" class="general_paragraph">Server Backup &amp; Restore Remote &amp; Onsite Support</li>
        <li style="font-weight:600" class="general_paragraph">Data Loss Prevention( DLP) Support</li>
        <li style="font-weight:600" class="general_paragraph">Server Security &amp; Health Checkup Support.</li>    
    </ul>
</div>

<div class="container-fluid" style="margin-top: 30px;">
    <h4 class="heading_style">Annual Maintenance Contract</h4>

    <p class="general_paragraph">
        IT AMC Contract has always been the most conspicuous component of any enterprise therefore, it always ensures the endurance of the Server, Storage, Client systems, peripherals & networks. However, MAS Infosys have always delivered first-class services as a part of the Annual Maintenance Contract (AMC). <br><br>
        We have efficient technical experts Consultant and Engineer who can provide 24/7 Support to our Valuable Clients.
    </p>
</div>









<%- include('partials/masinfosysfooter'); -%>